mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  padding: 16px;
}

textarea {
  min-height: 100px;
}

.mat-mdc-dialog-title {
  margin-bottom: 20px;
}
